.article-page
  .banner
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    height: toRem(500)
    display: flex
    .title
      background-color: rgba(0,0,0,0.5)
      padding: toRem(30) 0 toRem(30) 0
      width: 100%
      display: flex
      margin-top: auto
      h1 
        color: white
        margin: 0 0 0 0
        display: flex
        line-height: 2em
        padding-left: toRem(35)
  .body-wrap
    margin: 3% 20% 0 20%
    padding-bottom: toRem(50)
    .article-body
      p 
        font-size: toRem(18)
        text-indent: toRem(30)
        line-height: toRem(30)
        span 
          font-weight: 600
          font-size: toRem(32)
    .author-info
      margin-bottom: toRem(40)
      span 
        font-weight: 600
        font-size: toRem(22)
@media screen and ( max-width: $small )
  .article-page
    .body-wrap
      margin: 3% 10% 0 10%