.favorite-cam-item-wrap:hover
  background-color: rgba(0, 0, 0, 0.1)
.favorite-cam-item-wrap
  padding: toRem(15) 0 toRem(15) 0
  display: flex
  a 
    padding: 0 toRem(25) 0 toRem(25)
    border-left: toRem(1) solid rgba(0,0,0,0.1)
    .favorite-cam-item
      .cam-name
        margin-bottom: toRem(5)
        svg
          margin-left: toRem(10)
          font-size: toRem(12)
          color: gray
      .surf-conditions
        display: flex
        align-items: center
        .surf-quality
          font-size: toRem(11)
          font-weight: 700
          text-transform: uppercase
          color: white
          display: flex
          align-items: center
          padding: 0 toRem(3) 0 toRem(3)
          height: toRem(17)
        .surf-height
          margin-left: toRem(15)
          font-weight: 600
          span 
            font-size: toRem(9)
            font-weight: 400
            text-transform: uppercase
